* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: white;
  --primary-text-color: black;
  --secondary-text-color: white;
  --border-line-color: black;
  --toggle-btn-background: black;
}

[data-theme="dark"] {
  --background-color: black;
  --primary-text-color: white;
  --secondary-text-color: black;
  --border-line-color: white;
  --toggle-btn-background: white;
}
